.space-top-v1 { margin-top: 10px !important; }
.space-bottom-v2 { margin-top: 10px; }
.space-top-v2 { margin-top: 20px !important; }
.space-bottom-v2 { margin-bottom: 20px; }
.space-top-v3 { margin-top: 30px !important; }
.space-bottom-v3 { margin-bottom: 30px; }
.space-hor-v1 { margin-left: 10px; margin-right: 10px; }
.space-hor-v2 { margin-left: 20px; margin-right: 20px; }
.space-ver-v1 { margin-top: 10px !important; margin-bottom: 10px !important; }
.reset-padding { padding: 0; }
.reset-padding-h { padding-left: 0; padding-right: 0; }
.reset-padding-left { padding-left: 0; }
.reset-padding-bottom { padding-bottom: 0; }
.reset-margin-v { margin-bottom: 0; margin-top: 0; }